$palete_colors_pokemon: (
    --bug : #86930c,
    --electric : #f1c01c,
    --fire : #f08030,
    --grass : #6fc046,
    --normal:#c3c1b3,
    --rock:#a08942,
    --dark:#705848,
    --fairy:#f7b3f4,
    --flying : #97abea,
    --ground:#d1b853,
    --poison:#944794,
    --steel:#b3b6c0,
    --ice:#89ddfa,
    --psychic:#e24e82,
    --water:#3193ee,
    --fighting:#c03028,
    --dragon: #7038f8
);


