$primary-color: #007bff;
$secondary-color: #898989;
$red-color: #e3350d;
$white-color: #fff;
$green-color: #d9ffd9;
$banner-background: #ebeced;
$background-card: #f6f6f6;
$gray-box-shadow-cards: #cccccc
