<div class="position-relative" *ngIf="pokemonListBattle.length === 2">
  <div class="d-flex flex-row containerfight">
    <div class="d-flex flex-row containerStatusFight">
      <div> 
        <span *ngIf="pokemonListBattle[0].statusFight && !pokemonListBattle[1].statusFight ? 'loser' : ''" class="text_winner">Winner</span>
      </div>
      <div>
        <span *ngIf="!pokemonListBattle[0].statusFight && pokemonListBattle[1].statusFight ? 'loser' : ''" class="text_loser">Loser</span>
      </div>
    </div>
    <div
      *ngIf="pokemonListBattle.length === 2"
      class="pokeBallFightLeft animate__animated animate__bounceInLeft"
      
    >
      <img class="animate__animated" [ngClass]="!pokemonListBattle[0].statusFight && pokemonListBattle[1].statusFight ? 'loser' : ''"  [src]="pokemonListBattle[0].img" alt="" height="200" width="200" />
      <div class="containerHealth" *ngIf="startFight">
        <div class="progresHealth" [ngStyle]="{'width': pokemonListBattle[0].pointsFight > 0 ? pokemonListBattle[0].pointsFight + '%' : 0}">{{pokemonListBattle[0].pointsFight}}%</div>
      </div>
      <div>
        <table class="table-hover table table-striped table-results" >
          <thead>
            <tr>
              <th>
                {{pokemonListBattle[0].name}} - 
                <span *ngFor="let type of pokemonListBattle[0].type">
                  {{type.type.name}}
                </span>
              </th>
            </tr>
        </thead>
          <tbody>
            <tr *ngFor="let result of pokemonListBattle[0].results">
              <td>
                {{result.propertieDamageFound}} 
                / 
                <span *ngFor="let typeEnemy of result.typesEnemyFound">
                  {{typeEnemy}}
                </span>
                <strong>
                  {{
                    result.propertieDamageFound === "double_damage_from" ? "(-70)" : 
                    result.propertieDamageFound === "double_damage_to" ? "(+70)" :
                    result.propertieDamageFound === "half_damage_from" ? "(-30)" :
                    result.propertieDamageFound === "half_damage_to" ? "(+30)" :
                    result.propertieDamageFound === "no_damage_from" ? "(0)" :
                    result.propertieDamageFound === "no_damage_to" ? "(0)" : 0
                  
                  }}
                </strong>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div
      class="buttonCombat animate__animated d-flex flex-column"
      *ngIf="pokemonListBattle.length === 2"
      [ngClass]="{ animate__zoomInDown: pokemonListBattle.length === 2 }"
    >
      <div class="versus" (click)="startBattle()" *ngIf="!startFight">Start Fight</div>
      <div class="versus" (click)="cancelBattle()" *ngIf="startFight && pokemonListBattle[0].statusFight || pokemonListBattle[1].statusFight">Finish</div>
      <div class="versus" (click)="cancelBattle()" *ngIf="startFight && !pokemonListBattle[0].statusFight && !pokemonListBattle[1].statusFight && pokemonListBattle[0].pointsFight ===  pokemonListBattle[1].pointsFight">TIE!</div>
      <div (click)="pokemonListBattle = []; cancelBattle()" class="buttonCancel">Cancel fight</div>
    </div>
    <div
      *ngIf="pokemonListBattle.length === 2"
      class="animate__animated animate__bounceInRight pokeBallFightRight"
    >
    <div class="d-flex flex-row containerStatusFight">
      <div>
        <span *ngIf="pokemonListBattle[1].statusFight && !pokemonListBattle[0].statusFight ? 'loser' : ''" class="text_winner">Winner</span>
      </div>
      <div>
        <span *ngIf="!pokemonListBattle[1].statusFight && pokemonListBattle[0].statusFight ? 'loser' : ''" class="text_loser">Loser</span>
      </div>
    </div>
      <img class="animate__animated" [ngClass]="!pokemonListBattle[1].statusFight && pokemonListBattle[0].statusFight ? 'loser' : ''" [src]="pokemonListBattle[1].img" alt="" height="200" width="200" />
      <div class="containerHealth" *ngIf="startFight">
        <div class="progresHealth" [ngStyle]="{'width': pokemonListBattle[1].pointsFight > 0 ? pokemonListBattle[1].pointsFight + '%' : 0}">{{pokemonListBattle[1].pointsFight}}%</div>
      </div>
      <div>
        <table class="table-hover table table-striped table-results" >
          <thead>
            <tr>
              <th>
                {{pokemonListBattle[1].name}} - 
                <span *ngFor="let type of pokemonListBattle[1].type">
                  {{type.type.name}}
                </span>
              </th>
            </tr>
        </thead>
          <tbody>
            <tr *ngFor="let result of pokemonListBattle[1].results">
              <td>{{result.propertieDamageFound}} / 
                <span *ngFor="let typeEnemy of result.typesEnemyFound">
                  {{typeEnemy}}
                </span>
                <strong>
                  {{
                    result.propertieDamageFound === "double_damage_from" ? "(-70)" : 
                    result.propertieDamageFound === "double_damage_to" ? "(+70)" :
                    result.propertieDamageFound === "half_damage_from" ? "(-30)" :
                    result.propertieDamageFound === "half_damage_to" ? "(+30)" :
                    result.propertieDamageFound === "no_damage_from" ? "(0)" :
                    result.propertieDamageFound === "no_damage_to" ? "(0)" : 0
                  
                  }}
                </strong>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<div class="d-flex flex-column position-relative">
  <div class="d-flex flex-row containerFilters">
    <div class="input-group-sm d-flex flex-row position-relative">
      <div class="col-xs-12">
        <input
          type="text"
          class="form-control"
          placeholder="Pokemon name"
          aria-label="Name"
          [(ngModel)]="searchPokemon"
        />
      </div>
      <div class="text-center imgFilter">
        <img src="../../../assets/images/Pokeball.png" alt="" />
      </div>
    </div>

    <div class="col-xs-12 paginator">
      <nav aria-label="Page navigation example">
        <ul class="pagination">
          <li
            class="page-item"
            (click)="currentPage = currentPage - 1"
            *ngIf="currentPage !== 1"
          >
            <a class="page-link" aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
              <span class="sr-only">Previous</span>
            </a>
          </li>
          <!-- <li
            class="page-item"
            *ngFor="let page of totalPages"
            [ngClass]="{ active: page === currentPage }"
            (click)="currentPage = page"
          >
            <a class="page-link">{{ page }}</a>
          </li> -->
          <li class="page-item active">
            <a class="page-link">{{ currentPage }}</a>
          </li>
          <li class="page-item" (click)="currentPage = currentPage + 1">
            <a class="page-link" aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
              <span class="sr-only">Next</span>
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
  <div>
    <app-card
      [listPokemon]="getItems()"
      [filterPokemonSearch]="searchPokemon"
      (pokemonListBattle)="getPokemonToBattle($event)"
    ></app-card>
  </div>
</div>
